apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: devtron-cd
spec:
  project: default
  source:
    repoURL: https://helm.cilium.io/
    chart: cilium
    targetRevision: 1.15.2
    helm:
      values: |
        routingMode: native
        kubeProxyReplacement: true
        k8sServiceHost: localhost
        k8sServicePort: 7445
        operator:
          replicas: 2
        gatewayAPI:
          enabled: true
        l7Proxy: true
        bgpControlPlane:
          enabled: true
        ipam:
          mode: kubernetes
        hubble:
          enabled: true
          metrics:
            enabled:
              - dns
              - drop
              - tcp
              - flow
              - icmp
              - http
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
