apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: devtron-cd
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 26.1.0
    helm:
      values: |
        ingressRoute:
          dashboard:
            enabled: true
        providers:
          kubernetesCRD:
            enabled: true
          kubernetesIngress:
            enabled: true
          kubernetesGateway:
            enabled: true
        ports:
          web:
            exposedPort: 80
          websecure:
            exposedPort: 443
            tls:
              enabled: true
        additionalArguments:
          - "--providers.kubernetesgateway"
          - "--metrics.prometheus=true"
          - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
          - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
        logs:
          access:
            enabled: true
            format: json
        metrics:
          prometheus:
            entryPoint: metrics
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
